.left-sidebar {
    flex: 1;

    &-menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-bottom: 10px;
        border-bottom: 1px solid gray;
    }

    &-shortcut {
        padding-top: 10px;
        display: flex;
        flex-direction: column;

        .shortcut-title {
            font-size: 1.2rem;
            padding: 5px 10px;
        }
    }
}